.datetimepicker-container {
	position: absolute;
	width: 210px;
	heigth: 210px;
	display: inline-block;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	text-align: center;
	padding: 5px;
	z-index: 1;
	font-size: 14px;
}

.datetimepicker-header {
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.datetimepicker-week {
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.datetimepicker-day {
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;
}

.datetimepicker-month{
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;
}

.datetimepicker-year{
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;
}

.week_btn {
	cursor: default !important;
}

.week_btn:hover {
	background: transparent !important;
}



.outday {
	color: #aaa;
}

.prev, .next {
	font-weight: 600;
}

.datetimepicker-item1 {
	width: 14.28571%;
	border-radius: 3px;
	cursor: pointer;
}

.datetimepicker-item1:hover {
	background: #ccc;
}


.datetimepicker-item3 {
	width: 25%;
	border-radius: 3px;
	cursor: pointer;
}

.datetimepicker-item3:hover {
	background: #ccc;
}

.datetimepicker-item5 {
	width: 71.42857%;
	border-radius: 3px;
	cursor: pointer;
}

.datetimepicker-item5:hover {
	background: #ccc;
}

.datetimepicker-item7 {
	width: 100%;
	border-radius: 3px;
	cursor: pointer;
}

.datetimepicker-item7:hover {
	background: #ccc;
}


.datetimepicker-item3.active,.datetimepicker-item1.active {
	background-color: rgba(41, 161, 177, 1) !important;
	color: #fff !important;
}

.datetimepicker-time{
	display:flex;
	height: 180px;
    overflow: hidden;
	flex-flow: row nowrap;
}

.datetimepicker-select{
	overflow-y: scroll;
    overflow-x: hidden;
	flex: 1 1 auto;
	margin-right:5px;
}

.datetimepicker-select:last-child{
	margin-right:0px;
}

/*webkit内核*/
.datetimepicker-select::-webkit-scrollbar {
    width:0px;
    height:0px;
}
.datetimepicker-select::-webkit-scrollbar-button    {
    background-color:rgba(0,0,0,0);
}
.datetimepicker-select::-webkit-scrollbar-track     {
    background-color:rgba(0,0,0,0);
}
.datetimepicker-select::-webkit-scrollbar-track-piece {
    background-color:rgba(0,0,0,0);
}
.datetimepicker-select::-webkit-scrollbar-thumb{
    background-color:rgba(0,0,0,0);
}
.datetimepicker-select::-webkit-scrollbar-corner {
    background-color:rgba(0,0,0,0);
}
.datetimepicker-select::-webkit-scrollbar-resizer  {
    background-color:rgba(0,0,0,0);
}
/*o内核*/
.datetimepicker-select .-o-scrollbar{
    -moz-appearance: none !important;   
    background: rgba(0,255,0,0) !important;  
}
.datetimepicker-select::-o-scrollbar-button    {
    background-color:rgba(0,0,0,0);
}
.datetimepicker-select::-o-scrollbar-track     {
    background-color:rgba(0,0,0,0);
}
.datetimepicker-select::-o-scrollbar-track-piece {
    background-color:rgba(0,0,0,0);
}
.datetimepicker-select::-o-scrollbar-thumb{
    background-color:rgba(0,0,0,0);
}
.datetimepicker-select::-o-scrollbar-corner {
    background-color:rgba(0,0,0,0);
}
.datetimepicker-select::-o-scrollbar-resizer  {
    background-color:rgba(0,0,0,0);
}
/*IE10,IE11,IE12*/
.datetimepicker-select{
    -ms-scroll-chaining: chained;
    -ms-overflow-style: none;
    -ms-content-zooming: zoom;
    -ms-scroll-rails: none;
    -ms-content-zoom-limit-min: 100%;
    -ms-content-zoom-limit-max: 500%;
    -ms-scroll-snap-type: proximity;
    -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
    -ms-overflow-style: none;
    overflow: auto;
}
.time-item{
	cursor: pointer;
	border-radius: 3px;
}
.time-item:hover{
	background-color:#ccc;
}
.time-item.active{
	background-color: rgba(41, 161, 177, 1) !important;
	color: #fff !important;
}